.NannyInfo {
    background-color: #fff9f2;
    display: flex;
    justify-content: center;
    width: 100%;
}
.NannyInfo .div {
    background-color: #fff9f2;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .NannyInfo .NAV {
    align-items : center;
    display: flex;
    height: 65px;
    justify-content: space-between;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 1380px;
  }

  
  .NannyInfo .text-wrapper-3 {
    color: #e9631a;
    font-family: 'Roboto-Light', Helvetica;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-shadow: 0px 2px 2px #b58d8d;
    white-space: nowrap;
    width: fit-content;
  }
  
  .NannyInfo .navbar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
  }
  
  .NannyInfo .text-wrapper-4 {
    color: #4a4e69;
    font-family: "Roboto-SemiBold",  Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-decoration: none; /* Ensure links are not underlined */
    transition: color 0.3s; /* Add transition for hover effect */
  }
  
  .NannyInfo .text-wrapper-4:hover {
    color: #e9631a; /* Change color on hover */
  }
  
  .NannyInfo .frame {
    height: 43px;
    position: relative;
    width: 150px;
  }
  
  .NannyInfo .overlap-group {
    background-color: #a8d5ba;
    border: 1px solid;
    border-color: #6a9d7e;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 40px;
    position: relative; 
  }
  
  .NannyInfo .text-wrapper-5 {
    color: #ffffff;
    font-family: "Roboto-SemiBold",  Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    left: 29px;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }
  
.NannyInfo .title {
    text-align: center; /* Center align the title */
    position: absolute;
    top: 262px;
}

.NannyInfo .p {
    color: #4a4e69;
    font-size: 30px;
    font-weight: 300;
    margin: 0; /* Remove default margin */
}

.NannyInfo .text-wrapper-4-2 {
    color: #4a4e69;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 10px; /* Add margin for spacing */
}

.NannyInfo .cards {
    position: absolute;
    top: 417px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Add margin for spacing */
}

.button {
  position: absolute;
  top: 870px;
}

  .activeBtn {
    color: #fff9f2;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    white-space: nowrap;
}

.activeBtn {
  height: 50px;
  width: 224px;
  background-color: #6a9d7e;
  border: 1px solid #6a9d7e;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;

}

.activeBtn:hover {
opacity: 0.7;
transition: 1s ease;
}