@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond&family=Inter:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,500;0,600;0,700;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  
body {
  background-color: #0e0c16;
  color: #ececec;
  font-family: Roboto, sans-serif;
}
  
a{
  text-decoration: none;
  color: inherit;
  }