.HERO-SECTION {
  background-color: #fff9f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.HERO-SECTION .div {
  background-color: #fff9f1;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.HERO-SECTION .NAV {
  align-items : center;
  display: flex;
  height: 65px;
  justify-content: space-between;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 1380px;
}

.HERO-SECTION .text-wrapper-3 {
  color: #e9631a;
  font-family: 'Roboto-Light', Helvetica;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-shadow: 0px 2px 2px #b58d8d;
  white-space: nowrap;
  width: fit-content;
}

.HERO-SECTION .navbar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.HERO-SECTION .text-wrapper-4 {
  color: #4a4e69;
  font-family: "Roboto-SemiBold",  Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: none; /* Ensure links are not underlined */
  transition: color 0.3s; /* Add transition for hover effect */
}

.HERO-SECTION .text-wrapper-4:hover {
  color: #e9631a; /* Change color on hover */
}

.HERO-SECTION .frame {
  height: 43px;
  position: relative;
  width: 150px;
}

.HERO-SECTION .overlap-group {
  background-color: #a8d5ba;
  border: 1px solid;
  border-color: #6a9d7e;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 40px;
  position: relative; 
}

.HERO-SECTION .text-wrapper-5 {
  color: #ffffff;
  font-family: "Roboto-SemiBold",  Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  left: 29px;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.HERO-SECTION .text-wrapper-4-2 {
  color: #4a4e69;
  font-size: 64px;
  font-weight: 600;
  left: 104px;
  position: absolute;
  top: 261px;
}

.HERO-SECTION .overlap-wrapper {
  height: 356px;
  left: 902px;
  position: absolute;
  top: 262px;
  width: 300px;
}

.HERO-SECTION .overlap {
  height: 602px;
  position: relative;
  width: 508px;
}

.HERO-SECTION .overlap-2 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
}

.HERO-SECTION .line {
  height: 3px;
  background-color: #4a4e69;
  left: 0;
  position: absolute;
  top: 22px;
  width: 200px;
  z-index: 1;
  border-radius: 15px;
}

.HERO-SECTION .img {
  height: 150px;
  left: 26px;
  background-color: #4a4e69;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 1;
  border-radius: 15px;
}

.HERO-SECTION .overlap-3 {
  height: 549px;
  left: 29px;
  position: absolute;
  top: 53px;
  width: 479px;
}

.HERO-SECTION .rectangle {
  background-color: #e9631a;
  border-radius: 10px;
  filter: blur(50px);
  height: 195px;
  left: 0;
  position: absolute;
  top: 0;
  width: 141px;
}

.HERO-SECTION .rectangle-2 {
  background-color: #e9631a;
  border-radius: 10px;
  filter: blur(50px);
  height: 195px;
  left: 320px;
  position: absolute;
  top: 354px;
  width: 141px;
}

.HERO-SECTION .screenshot {
  height: 526px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 474px;
}

.HERO-SECTION .element {
  color: #4a4e69;
  font-size: 32px;
  font-weight: 300;
  left: 104px;
  position: absolute;
  top: 441px;
}

.HERO-SECTION .group {
  height: 111px;
  left: 104px;
  position: absolute;
  top: 548px;
  max-width: 457px;
  display: flex;
  gap: 10px;
}

.HERO-SECTION .role-button {
  background-color: #a8d5ba;
  border: 1px solid #6a9d7e;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  color: #fff9f2;
  font-size: 30px;
  font-weight: 500;
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.HERO-SECTION .text-wrapper-6 {
  color: #4a4e69;
  font-size: 32px;
  font-weight: 500;
  left: 6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}