.APPOINTMENT {
    background-color: #fff9f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .APPOINTMENT .div {
    background-color: #fff9f1;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .APPOINTMENT .NAV {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: space-between;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 1380px;
  }
  
  .APPOINTMENT .text-wrapper {
    color: #e9631a;
    font-family: "Roboto-Light", Helvetica;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-shadow: 0px 2px 2px #b58d8d;
    white-space: nowrap;
    width: fit-content;
  }
  
  .APPOINTMENT .navbar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
  }
  
  .APPOINTMENT .text-wrapper-2 {
    color: #4a4e69;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .APPOINTMENT .frame {
    height: 43px;
    position: relative;
    width: 150px;
  }
  
  .APPOINTMENT .overlap-group {
    background-color: #a8d5ba;
    border: 1px solid;
    border-color: #6a9d7e;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 40px;
    position: relative;
  }
  
  .APPOINTMENT .text-wrapper-3 {
    color: #ffffff;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }

  .APPOINTMENT .text-wrapper-4 {
    color: #4a4e69;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 44px;
    font-weight: 600;
    left: 550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 261px;
  }


  .APPOINTMENT .overlap-group-wrapper {
    background-color: #ffffff;
    height: 50px;
    left: 800px;
    position: absolute;
    top: 950px;
    width: 300px;
  }

  .APPOINTMENT .overlap-group-2 {
    background-color: #fff9f1;
    border: 1px solid;
    border-color: #4a4e69;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 50px;
    position: relative;
  }
  
    
  .APPOINTMENT .text-wrapper-5 {
    color: #4a4e69;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 110px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }

  .APPOINTMENT .overlap-group-wrapper2 {
    background-color: #ffffff;
    height: 50px;
    left: 1400px;
    position: absolute;
    top: 850px;
    width: 250px;
  }

  .APPOINTMENT .overlap-group-3 {
    background-color: #a8d5ba;
    border: 1px solid;
    border-color: #6a9d7e;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 50px;
    position: relative;
  }
  
    
  .APPOINTMENT .text-wrapper-6 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 65px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }


  .APPOINTMENT .overlap-group-wrapper3 {
    background-color: #fff9f1;
    position: absolute;
    top: 550px;
    left: 1000px;
    width: 250px;
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    padding: 10px; 
}

    .APPOINTMENT .overlap-group-4 {
    background-color: #fff9f1;
    border: 1px solid #4a4e69;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    }

    .APPOINTMENT .text-wrapper-7 {
    color: #4a4e69;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
    }

      
  .APPOINTMENT .text-wrapper-8 {
    color: #4a4e69;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 1010px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 450px;
    white-space: nowrap;
  }

  .APPOINTMENT .circle {
    width: 50px; 
    height: 50px; 
    background-color: #fff9f1; 
    border: 3px solid #E9631A;   
    color: #E9631A; 
    font-size: 20px; 
    font-weight: bold; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    position: absolute; 
    top: 500px; 
    left: 1010px;
  }
  
    .APPOINTMENT .screenshot1 {
        height: 520px;
        left: 400px;
        object-fit: cover;
        position: absolute;
        top: 390px;
        width: 520px;
    }